@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato-Regular';
  src: url('./assets/fonts/Lato-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Medium';
  src: url('./assets/fonts/Lato-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('./assets/fonts/Lato-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Lato-Black';
  src: url('./assets/fonts/Lato-Black.woff2') format('woff2');
  font-display: swap;
}
